.container {
  margin: auto;
  height: calc(100% - 50px);
  width: calc(100% - 40px);

  > header {
    display: flex;
    position: relative;
    justify-content: center;

    h1 {
      font-weight: 700;
    }

    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      padding: 10px 20px;
      border: 1px solid transparent;
      background-color: black;
      color: white;
      border-radius: 5px;
    }
  }
}